#header-backoffice-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }
  
  .header-backoffice-onebutton {
    color: #FFFDD8;
    background-color: #C1272D;
    padding: 1em;
    border-radius: 1em;
    font-weight: 700;
    font-size: 1.3em;
    border: none;
    text-transform: uppercase;
  }

.header-backoffice-buttons-radio-single {
  margin-bottom: 0.3em;
}
